:root{
    --darker-green: #165b33;
    --dark-green: #146b3a;
    --dark-yellow: #f8b229;
    --light-red:#ea4630;
    --dark-red:#bb2528;
    --black: #0e1111;
    --white: #FFFFFF;
    --gray: #808080;
}




body {
    font-family: 'Josefin Sans';
    margin: 0;
}

.max-w-full {
    max-width: 100%;
    overflow: hidden;
  }
  .min-h-screen {
    min-height: 100dvh;
  }

main {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.title-box{
    width: 60%;
    margin: 30px;
}

.title{
    color: var(--dark-red);
    font-size: 100px;
    text-align: center;
}
.small-title{
    color: var(--gray);
    text-align: center;
    font-size: 30px;
}

.tutorial-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.number{
    color: var(--light-red);
    font-size: 50px;
}

.image{
    width: 100px;
    height: 100px;
}

.image img{
width: 100%;
height: 100%;
}

.tutorial-title{
font-size: 30px;
}